.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.App h1 {
  margin-bottom: 30px;
  color: #6c28d9;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px 0;
}

.todo {
  /* width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0; */
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  border: 1px solid #eeeeee;
  padding: 13px 7px;
  border-radius: 5px;
}

.todoText {
  cursor: pointer;
  font-weight: bold;
}

.completed {
  text-decoration: line-through;
  color: #a8a8a8;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px 3px;
  outline: none;
  width: 250px;
  font-size: 17px;
}

input:focus {
  border: 2px solid blueviolet;
}

.formControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 19rem;
  margin-bottom: 20px;
}

.btn {
  color: #6d28d9;
  background-color: #fff;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.remove {
  color: rgb(236, 68, 68);
  border: 1px solid rgb(236, 68, 68);
}

.addTodo {
  color: #fff;
  background-color: #6d28d9;
  font-size: 15px;
}

.updateTodo {
  background-color:#e1d3f867;
}

header {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

header span {
  margin-right: 20px;
  display: inline-block;
  width: 20px;
  font-size: 14px;
  height: 20px;
  background-color: #d0c7f7;
  color: #6d28d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  width: 178px;
  margin-left: 10px;
}

.h2Text {
  padding-bottom: 22px;
  color: #686868;
}